.divawards {
  width: 85%;
  height: 350px;
  background-color: aqua;
  margin: 0 auto;
  margin-top: 4rem;
  background-image: url("/BurgerLandImages/Awards/awards.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img.zarin {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.zarinparent {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 20px;
  color: rgb(239, 1, 9);
  font-weight: 400;
}

.divawards figcaption {
  background-color: rgb(243, 229, 36);
  margin-bottom: 4px;
}
