.burgerProducts,
.pitzaaProducts,
.chikenProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  z-index: -100;
}

.productParent {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  perspective: 1000px;
  margin: 0;
  padding: 0; /* Remove this if you don't want the 3D effect */
}
.productInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 3s ease;
  transform-style: preserve-3d;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.productParent:hover .productInner {
  transform: rotateY(180deg);
  transition: all 0.8s ease;
  -webkit-box-shadow: 1px 4px 13px -3px #000000;
  box-shadow: 1px 4px 13px -3px #000000;
}

.productFront,
.productBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition: all 1s ease;
  border-radius: 10px;
}

.productFront {
  background-image: linear-gradient(
    to left bottom,
    #92a204,
    #a98600,
    #b96700,
    #c1420f,
    #c0002e
  );
  color: black;
}

.productBack {
  background-color: rgb(24, 125, 24);
  color: rgb(126, 26, 233);
  transform: rotateY(180deg);
  transition: all 1s ease;
  display: flex;
  justify-content: right;
}

figure {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.burgerProductsImg {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.addburgertobasket {
  font-size: 15px;
  font-family: burgerfont;
  width: 140px;
  height: 43px;
  border-width: 1px;
  color: #023607;
  border-color: #eeb44f;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  text-shadow: inset 0px 1px 0px #cc9f52;
  background: linear-gradient(#ffc477, #fb9e25);
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 3;
}

.addburgertobasket:hover {
  background: linear-gradient(#fb9e25, #ffc477);
}

.figCaptionburgerProduct {
  margin: 0;
  font-size: 30px;
  color: white;
}

.figCaptionburgerProductPrice {
  margin-top: 10px;
  font-size: 20px;
  color: yellow;
}

.productburgerDetail {
  list-style: none;
  font-size: 20px;
  color: whitesmoke;
  text-align: right;
  position: relative;
  right: -30px;
}
.productburgerDetail li {
  margin-bottom: 10px;
  word-spacing: 1px;
  position: relative;
  right: 0;
}

.productburgerDetail li i {
  color: yellow;
}

#burger {
  scroll-margin-top: 220px; /* adjust this value */
}

#pitzza {
  scroll-margin-top: 220px;
}

#chicken {
  scroll-margin-top: 220px;
}
