.buybasket {
  background-color: wheat;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  top: 460px;
  border-radius: 15px 0 0 15px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px 0 0 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.basketImg {
  width: 34px;
  height: 34px;
}

figure {
  padding: 0;
  margin: 0;
}

.basketform {
  position: absolute;
  width: auto;
  height: 500px;
  background-color: white;
  top: 200px;
  left: 100%;
  visibility: hidden;
  opacity: 1;
  padding: 5px;
  transition: all 0 ease-in;
  -webkit-box-shadow: inset 1px 3px 25px -16px rgba(234, 234, 11, 1);
  -moz-box-shadow: inset 1px 3px 25px -16px rgba(234, 234, 11, 1);
  box-shadow: inset 1px 3px 25px -16px rgba(234, 234, 11, 1);
  z-index: 998;
  border-radius: 20px;
}

.basketform:target {
  visibility: visible;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: all 1s ease;
}

.close {
  text-decoration: none;
  color: rgb(241, 16, 16);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 30px;
}

#buybasketcaptopn {
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}
.ProductItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1px;
  position: relative;
}
.basketByuForm {
  margin: 0;
  font-size: 25px;
}

.formheader {
  text-align: center;
}

/* 
.basketByuForm * {
  margin: 0;
} */

input[type="text"] {
  width: 150px;
}
.basketByuForm a {
  text-decoration: none;
  padding: 1px;
}

.basketByuForm a .incress {
  color: green;
  font-size: 50px;
}

.basketByuForm a .decress {
  color: red;
  font-size: 50px;
}

.ProductItem label {
  width: 100px;
}
#unitpricelbl {
  width: 105px;
}

#pnamelbl {
  width: 68px;
}

input {
  margin-left: 20px;
}
#pnumberlbl {
  width: 55px;
}

.calculateprice {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 20px;
}

.invoicebtn {
  font-size: 15px;

  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #333333;
  border-color: #ffaa22;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 1px 0px 0px #fff6af;
  text-shadow: 0px 1px 0px #ffee66;
  background: linear-gradient(#ffec64, #ffab23);
}

.invoicebtn:hover {
  background: linear-gradient(#ffab23, #ffec64);
}

.paybtn {
  font-size: 15px;

  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #333333;
  border-color: rgba(126, 211, 33, 1);
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 1px 0px 0px rgba(126, 211, 33, 1);
  text-shadow: 0px 1px 0px rgba(126, 211, 33, 1);
  background: linear-gradient(rgba(126, 211, 33, 1), rgba(65, 117, 5, 1));
}

.paybtn:hover {
  background: linear-gradient(rgba(65, 117, 5, 1), rgba(126, 211, 33, 1));
}
