.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #7b3f00; /* line style */
}

.line-with-text:not(:empty)::before {
  margin-right: 10px;
}

.line-with-text:not(:empty)::after {
  margin-left: 10px;
}

.line-with-text span {
  font-size: 40px;
  font-weight: bold;
  line-height: 3;
  margin-top: -10px;
  font-family: headerdetailfont;
}
