/* MAIN MENU BAR */
.burgerMainMenue {
  direction: rtl; /* important for Persian */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: linear-gradient(
    to right,
    #fac506 0%,
    #ff1313 30%,
    #fac506 60%,
    #824102 100%
  );
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.burgerMainMenue ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.burgerMainMenue ul > li {
  position: relative;
  display: inline-block;
  border-right: 3px groove whitesmoke; /* RTL: use right border */
}

/* LINKS */
.burgerMainMenue ul > li > a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.6);
  transition: color 0.3s;
}

.burgerMainMenue ul > li > a:hover {
  color: green;
}

/* FIRST-LEVEL SUBMENU (opens BELOW) */
.burgerMainMenue ul > li > ul {
  position: absolute;
  top: 100%;
  right: 0; /* RTL: align submenu to right edge */
  width: 250px;
  background: whitesmoke;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
  text-align: right; /* RTL text alignment */
}

.burgerMainMenue ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}

/* SUBMENU ITEMS */
.burgerMainMenue ul > li > ul > li {
  display: block;
  background: lightgray;
  margin: 0;
}

.burgerMainMenue ul > li > ul > li > a {
  color: black;
  padding: 10px 15px;
}

/* SECOND-LEVEL SUBMENU (opens to the LEFT) */
.burgerMainMenue ul > li > ul > li > ul {
  position: absolute;
  top: 0;
  right: 100%; /* RTL: open submenu to the LEFT */
  width: 250px;
  background: whitesmoke;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: right;
}

.burgerMainMenue ul > li > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}
